nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.branding {
    width: 10%;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    list-style: none;
}

nav ul li a {
    color: darkgreen;
    position: relative;
    text-decoration: none;
}

nav ul li a::after,
nav ul li a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: darkgreen;
    transition: all 0.3s;
}

nav ul li a:hover:after,
nav ul li a.active::after {
    width: 100%;
}

nav ul li.cart > a.hover::after, nav ul li.cart > a.active::after, nav ul li.cart > a::after{
    display: none;
}


.close-menu,
.open-menu {
    position: absolute;
    cursor: pointer;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}


@media (max-width: 800px) {
    .branding {
        width: auto;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 73%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #000;
        color: #fff;
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
        font-size: 24px;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .close-menu,
    .open-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
}