*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: olive;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.d-block {
  display: block;
}
.m-t-2rem{margin-top: 2rem;}

.btn {
  position: relative;
  background: #fff;
  border: none;
  border-radius: 6px;
  color: #000;
  padding: .5rem 1rem;
  left: 50%;
  transform: translateX(-50%);
}


#registration, #getlogin {
  display: flex;
  flex-direction: column;
  width: 65vw;
  border: 5px solid #fff;
  border-radius: 12px;
  margin: auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

#getlogin {
  display: none;
}

h1 {
  font-size: 45px;
}



/* Full-width input fields */
input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #fff;
  color: black;
  border-radius: 12px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  background-color: #f1f1f1;
  outline: none;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: aqua;
  text-decoration: none;
  position: absolute;
}

a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background: aqua;
  transition: all .3s ease;
}

a:hover::after {
  width: 100%;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}


.errorOnForm {
  border: 2px solid #f00;
}