*, html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
body{
    background-color: rgb(178, 190, 181);
    margin: 0;
    color: darkolivegreen;
}
#wraper{
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    position: relative;
    color: darkolivegreen;
}
a::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 25%;
    height: 2px;
    background-color: darkolivegreen;
    transition: width .5s ease;
}
a:hover:after{width: 100%;}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav{width: 40rem;max-width: 100%;}
nav ul{
    display: inline-flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}

.hero, main{
    position: relative;
    min-height: 83vh;
    display: flex;
    flex-direction: column;
}
.heroBanner{
    width: 100%;
    max-height: 83vh;
}
.overlay{
    background-color: #00000093;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hero h1{
    position: absolute;
    top: 10rem;
    left: 5rem;
    font-size: 2rem;
    font-weight: 700;
    color: honeydew;
    z-index: 3;
}
.hero h1 span{
    display: block;
    font-size: 1rem;
    font-weight: 400;
}

footer{
    background: rgba(225,225,225,0.3);
  backdrop-filter: saturate(180%) blur(10px);
}

/* Form related only */
.form_bg{
    background: url(../img/Form-bg.png) center center no-repeat;
}
.form {
    padding: 30px 40px;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    /* border: 2px solid #556b2f; */
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #0db10d;
}

.form-control input {
    border: 2px solid #bbbbbb;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

main > h1{
    text-align: center;
    font-size: 2rem;
    color: honeydew;
}
main > form{
    width: 75%;
    margin: auto;
}

main > form input{
    border-radius: 8px;
}

main > form .btn{
    display: flex;
    align-self: center;
    margin: 0 auto;
    border: 1px solid darkolivegreen;
    border-radius: 6px;
    color: darkolivegreen;
    padding: .5rem 1rem;
    cursor: pointer;
    line-height: 1;
}
main > form .btn:hover{
    background: darkolivegreen;
    color: honeydew;
    border-color: honeydew;
}
.lnk{
    display:block;
    align-self: center;
    width:fit-content;
    margin: 0.5rem auto 0;
    color: honeydew;
    transition: all .5s ease;
}
.lnk:hover{color: darkolivegreen;}

progress::-moz-progress-bar { background: honeydew; }
progress::-webkit-progress-value { background: honeydew; }
progress { color: honeydew;background-color: honeydew; }

progress.poor::-moz-progress-bar { background: #f00; }
progress.poor::-webkit-progress-value { background: #f00; }
progress.poor { color: #f00;background-color: #f00; }

progress.okay::-moz-progress-bar { background: yellow; }
progress.okay::-webkit-progress-value { background: yellow; }
progress.okay { color: yellow;background-color: yellow; }

progress.good::-moz-progress-bar { background: darkolivegreen; }
progress.good::-webkit-progress-value { background: darkolivegreen; }
progress.good { color: darkolivegreen;background-color: darkolivegreen; }